.counter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 195px;
  height: 38px;
  font-weight: 600;
  background-color: #000;
  cursor: pointer;
  color: #fff;
  border: none;
  text-transform: uppercase;
}
