.button-component {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 40px;
  font-weight: 600;
  background-color: #000;
  cursor: pointer;
  color: #fff;
  border: none;
}

@media screen and (max-width: 768px) {
  .button-component {
    margin-top: 10px;
  }
}
