.home {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.home h1 {
  font-weight: 900;
  font-size: 20px;
  border-bottom: 4px solid #c0c0c0;
  width: 65px;
  white-space: nowrap;
  margin-left: 20px;
  margin-bottom: 20px;
}
