.slide {
  display: flex;
  max-width: 1200px;
  width: 100%;
  overflow: auto;
}
::-webkit-scrollbar-track {
  background-color: f4f4f4;
  height: 6px;
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 6px;
  background: #f4f4f4;
  height: 6px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
  height: 6px;
  border-radius: 5px;
}
